# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://content-und.services.ai.azure.com/api/projects/sinesters/openai/v1/responses
AZURE_OPENAI_API_KEY=your_key_here
AZURE_OPENAI_MODEL=gpt-4.1-1

# Last.fm
LASTFM_API_KEY=your_lastfm_api_key_here

# YouTube OAuth
YOUTUBE_CLIENT_SECRET_PATH=client_secret_165744039358-jm0iksc8fus3h4a3rlil81avfa17t5lv.apps.googleusercontent.com.json
